################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HelloWorldPlugin/obj
/.vs/Straftat Mod
/HelloWorldPlugin/bin
