################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/Straftat Mod
/Unrandomizer/obj
/Unrandomizer/bin
